.keyboard-key {
    display: flex;
    cursor: pointer;
    height: 54px;
    text-align: center;
    border: 0;
    border-radius: 2px;
    background-color: #818384;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.keyboard-key[key-size = "large"] {
    width: 56px;
    font-size: 10px;
}

.keyboard-key[key-size = "small"] {
    font-size: 22px;
    font-weight: bold;
    width: 36px;
}

.keyboard-key[key-letter = false] {
    font-size: 16px;
}

.keyboard-key[key-letter = true] {
    font-size: 16px;
}

@media screen and (max-width : 500px) {
    .keyboard-key {
        font-size: 20px;
    }
}

.keyboard-key[data-state = "correct"] {
    border: none;
    background-color: #538d4e;
}

.keyboard-key[data-state = "pending"] {
    border: 1px solid #3a3b3c;
}

.keyboard-key[data-state = "current-pending"] {
    border: 1px solid #fff;
}

.keyboard-key[data-state = "incorrect"] {
    background-color: #3a3b3c;
}

.keyboard-key[data-state = "partially"] {
    background-color: #b59f3b;
}