.keyboard{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 20px;
}

@media screen and (max-width : 500px) {
    .keyboard {
        margin: 0 0 30px 0;
    }
}

.keyboard-row{
    display: flex;
    gap: 4px;
    justify-content: center;
}